<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1569259496-k5keei4jn4fenkvmibnf37c44sqa2mnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1569259496-k5keei4jn4fenkvmibnf37c44sqa2mnp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1569259496-fno0vjifbrqde2ffqv8icu62adqj199h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwskxLay5yRDEG7_PRVd0mvR0wlmUtEB8</string>
	<key>GCM_SENDER_ID</key>
	<string>1569259496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-50a07</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-50a07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1569259496:ios:9fec174a34056b53e6ae5d</string>
</dict>
</plist>